.Home3-main-div{
    display: flex;
    flex-direction: column;
    width: '100%';
    background-image: url("../../../../Assets/home3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Home3-inner-div-head{
    display: flex;
}

.Home3-inner-div-part1{
    display: flex;
    flex: 4;
    justify-content: flex-end;
    padding-right: 1rem
}

.Home3-inner-div-part1-inner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 25%
}

.Home3-inner-div-part1-inner-head-text{
    color: '#000000';
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-decoration: underline;
}

.Home3-inner-div-part1-inner-main{
    display: flex;
    text-align: right;
    color: '#000000';
    font-size: 1.25rem;
    letter-spacing: 0.5px;
}

.Home3-inner-div-part2{
    // background-color: red;
    display: 'flex';
    flex: 1;
    font-size: 8.125rem;
    color: #E2E2E2;
}
@media only screen and (max-width: 1000px){
    .Home3-inner-div-part2{
        color: black;
    }

    .Home3-inner-div-part1{
        padding-bottom: 2rem
    }

    .Home3-inner-div-part1-inner{
        width: 48% !important;
    }

    .Home3-inner-div-part1-inner-head-text{
        text-align: right;
    }
}