.Home6-p{
    margin:0rem;
}
.Home6-input{
    padding-left: 2rem;
    font-size: 1rem;
    // font-style: italic;
}
.Home6-mainDiv{
    background-image: url('../../../../Assets/get in touch.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Home6-p1{
    font-size: 2rem;
    color: #2D2D2D;
    margin-top:5rem;
    opacity: 1;
    font-style: Crimson Text;
    text-transform: uppercase;
    white-space: nowrap;
}
.Home6-p2{
    margin-top: 1.25rem;
    color: #2D2D2D;
    // opacity: 100%;
    font-size: 1.25rem;
}
.Home6-text1{
    width:95%;
    height: 3.5rem;
    margin-top:1.75rem;
    border: #B1B1B1 solid 1px;
    background-color: #E1DFDF;
}
.Home6-text2{
    width:95%;
    height: 3.5rem;
    margin-top:1.75rem;
    border: #B1B1B1 solid 1px;
    background-color: #E1DFDF;
}
.Home6-text3{
    width:95%;
    height: 3.5rem;
    margin-top:1.75rem;
    margin-bottom: 5.5rem;
    border: #B1B1B1 solid 1px;
    background-color:#E1DFDF;
}
.Home6-submit{
    height:2.75rem;
    width:7.5rem;
    margin-top: 2.5rem;
    opacity:100%;
    background: #2D2D2D;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    margin-bottom: 5.8rem;
}
.Home6-btext{
    font-size: 1.375rem;
    color: #FFFFFF;
}
.Home6-btmtab{
    width: 100%;
    height: 96px;
    background: #1E1E1E 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
