.Modal-main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.Modal-main{
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: "Crimson Text";
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}