.RoomBox-BoxMain{
    border: 0.5px solid #2D2D2D;
    // opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.RoomBox-p1{
    font-size: 20px;
    padding-left: 22px;
    font-family: "Crimson Text";
    margin-top:10px;
}
.RoomBox-p2{
    height:30px;
    padding-left: 22px;
}
.RoomBox-small{
    margin-left: 5px;
    font-family: "Raleway";
}
.RoomBox-img2{
    margin-left: 25px;
}
.RoomBox-small1{
    font-size: 1rem;
    font-family: "Raleway";
    padding-left: 1rem;
    margin: 1rem 0.5rem;
    line-height: 1.6rem;
}
.RoomBox-a1{
    font-style: Crimson;
    font-size: 20px;
    margin-top: 5px;
    padding-left: 22px;
}
.RoomBox-btn-noBG{
    letter-spacing: 0.06rem;
    font-size: 0.8125rem;
    font-family: "Crimson Text";
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}
