.Rooms-p1{
    font-family: "Crimson Text";
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 33px;
    font-weight: bolder;
}
.Rooms-p2{
    font-size: 18px;
    font-family: "Crimson Text";
    letter-spacing: 1.35px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 52px;
    font-weight: bold;
}
.Rooms-small{
    text-transform: lowercase;
    margin-left: 10px;
    font-weight: bold;
}
.Rooms-line {
    height: 0.06rem;
    width: 100%;
    background-color: lightgray;
}