.AdminTab4-amount-table-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.AdminTab4-table-payment-row{
    text-align: center;
    font-size: 1.5rem;
    color: green;
    font-weight: bold;
    font-family: 'Raleway';
}

.AdminTab4-card-wrapper{
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}