.admin-tab1-card-header{
    font-weight: bold;
}

.admin-tab1-cross{
    color: red;
    font-size: 2rem;
    cursor: pointer;
}

.admin-tab1-tick{
    color: green;
    font-size: 2rem;
    cursor: pointer;
}