.admin-tabs-wrapper{
    margin: 3rem;
    padding: 1rem;
}

// .admin-tab-header{
    
// }

.react-tabs__tab{
    border-top:0.1rem solid black;
    border-left:0.05rem solid black;
    border-right:0.05rem solid black;
    // border-radius: 0.2rem;
}

