.ViewProp-card-rates{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
.ViewPropCard-footer{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
.ViewProp-btn{
    cursor: pointer;
    width: fit-content;
    box-shadow: 5px 3px 5px #ccc;
    background-color: #2D2D2D;
}
.ViewProp-btn span{
    background-color: #2D2D2D;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.ViewProp-btn:hover span{
    box-shadow: 0 4px 8px 0 rgba(45, 45, 45, 45.2), 0 6px 20px 0 rgba(45, 45, 45, 0.19);
    transition: all 0.5s;
    padding-right: 25px;
}
.ViewProp-btn:hover span:after{
    opacity: 1;
    right: 0;
}
span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}