.merchantLink:hover:before {
    visibility: visible;
    width: 100%;
}
.merchantLink{
    position: relative;
}

.merchantLink:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}