.SignUp-main-div{
    display: flex;
    height: calc(110vh - 100px);
    padding: 0 !important;
}

.SignUp-main-inner1{
    display: flex;
    flex: 1;
    width: 100%;
    background-image: url('../../../../Assets/SignUpImage.png');
    // height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 600px) {

    .SignUp-main-inner1 {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }
  

.SignUp-main-inner2{
    display: flex;
    flex: 1;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    text-align: center;
}

.SignUp-text1{
    font-size: 1.5rem;
    color: #2D2D2D;
    letter-spacing: 1.8;
}

.SignUp-input{
    background: #E4E4E4 0% 0% no-repeat padding-box;
    width: 13.5rem;
    height: 2.25rem;
    margin: 0.75rem;
    border: none !important;
    padding: 1rem;
    margin-bottom: 0.15rem !important;
    // font-style: italic;
}

.SignUp-button{
    font-size: 1.125rem;
    background-color: #2D2D2D;
    border: none !important;
    color: white;
    height: 2.25rem;
    width: 12.4375rem;
    letter-spacing: 1.35;
    margin-top: 1.125rem;
}

.SignUp-text2{
    font-size: 0.9375rem;
    color: #2D2D2D;
    text-decoration: underline;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 1.13;
}

.SignUp-text3{
    font-size: 0.9375rem;
    color: #2D2D2D;
    letter-spacing: 1.13;
}

.SignUp-signup-button{
    text-decoration: underline !important;
}

.SignUp-main-inner2-sub1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.SignUp-checkbox{
    border: 1px solid #2D2D2D !important;
    width: 1.125rem !important;
    height: 1.125rem !important ;
    margin-right: 0.5rem;
}

.SignUp-footer-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    color: #2D2D2D;
    
}

.SignUp-footer-text-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUp-select{
    padding: 0px !important;
    margin: 0px !important;
    height: 2.25rem;
    margin-left: 0.75rem !important;
}

.SignUp-input-mobile{
    margin-left: 0px !important;
    width: 9.5rem !important;
}

.SignUp-input-gender{
    background: #E4E4E4 0% 0% no-repeat padding-box;
    width: 13.5rem;
    height: 2.25rem;
    margin: 0.75rem;
    border: none !important;
    // padding: 1rem;
    margin-bottom: 0.15rem !important;
}